.field__select {
    width: 100%;
    appearance: none;
    background: url('../FormSelect/down-filled-triangular-arrow.png');
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: center right 20px;
  }

  .field-error {
    color: red;
    border: 1px solid red;
    box-sizing: border-box;
    border-radius: 60px;
    padding: 15px;
  }

  .field-correct {
    color: rgb(0, 209, 0);
    border: 1px solid rgb(0, 209, 0);
    box-sizing: border-box;
    border-radius: 60px;
    padding: 15px;
  }